body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('./背景.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(9, 133, 250);
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main section {
    padding: 50px;
}

#resume ul {
    margin-left: 30px;
}

#resume h3 {
    margin-top: 20px;
}

#resume ul li {
    margin-top: 10px;
    font-size: 14px;
}

#interests ul {
    list-style-type: square;
    margin-left: 30px;
}

#interests li {
    margin-top: 10px;
}